@model PagedList.IPagedList<HuddersfieldSportCentre.Models.Course>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Courses";
}

<h2>Manage Courses</h2>

@using (Html.BeginForm("Index", "Course", FormMethod.Get))
{
    <p>
    
        @Html.ActionLink("Create New Course", "Create")
        <br />
    
        Find by <b>CourseID</b> OR <b>Course Title</b> OR <b>Department Name</b>: @Html.TextBox("SearchbarString", ViewBag.CurrentPage as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.ActionLink("CourseID", "Index", new { SortOrder = ViewBag.CourseNoSortParm, currentPage = ViewBag.CurrentPage })
        </th>
        <th>
            @Html.ActionLink("Course Title", "Index", new { SortOrder = ViewBag.NameSortParm, currentPage = ViewBag.CurrentPage })
        </th>
        <th>
            @Html.ActionLink("Department Name", "Index", new { SortOrder = ViewBag.DepartmentSortParm, currentPage = ViewBag.CurrentPage })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, SortOrder = ViewBag.CurrentSort, currentPage = ViewBag.CurrentFilter }))